.books-section {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10%;
}

.card-body {
  text-align: center; /* Center text inside the card body */
}

.book-image {
  width: 200px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.pagination {
  justify-content: space-between;
}

@media (max-width: 1430px) {
  .col-lg-3 {
      order: 2;
  }

  .col-lg-9 {
      order: 1;
  }
}
